.flex-container {
    display: flex;
    width: 600px;
    height: 700px;
    flex-flow: column wrap;
   
  }
  
  .flex-container > div {
    
  
    margin: 10px;
    text-align: center; 

   
    font-size: 30px;
  }
  